{
  "presets": ["next/babel"],
  "plugins": [
    [
      "effector/babel-plugin",
      {
        "reactSsr": true,
        "factories": [
          "patronum",
          "effector-hotkey",
          "/models/factories",
          "/features/music/winamp-playlist",
          "/features/music/winamp-eq"
        ]
      }
    ]
  ]
}
