.digit {
    display: inline-block;
    background-repeat: no-repeat;
    text-indent: -9999px;
    pointer-events: none;
    height: 13px;
    width: 9px;
}

.digit-0 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAANCAYAAAB7AEQGAAAAPUlEQVQoU2OUUNT8/+L6dQZcQEJTk4GR4QfDfwYOnGoYGH4wIBRJKGoyvLh/nQGdRlGE06xRk4gPJ2LiDgC8hlZtbPrdogAAAABJRU5ErkJggg==);
}
.digit-1 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAANCAYAAAB7AEQGAAAAKklEQVQoU2OUUNT8/+L+dQYJRU0GbDTDDwYGRgYGhv8M+ABI0ahJgzGcAEuWbZlF2pZrAAAAAElFTkSuQmCC);
}
.digit-2 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAANCAYAAAB7AEQGAAAAUklEQVQoU2OUUNT8/+L6dQZcQEJTk4GRgYHhP04VIIkfDAyMYJPuX2eQUNRkwEaDFQ2ESQR994PhPwMHXv8xMDJAFeHyHUgcrgifWVQ0iZi4AwBgDEvDAzPYAwAAAABJRU5ErkJggg==);
}
.digit-3 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAANCAYAAAB7AEQGAAAAN0lEQVQoU2OUUNT8/+L6dQZcQEJTk4GRgYHhP04VIIkfDAyMYJPuX2eQUNRkwEaDFQ2ESSPadwCu5FDXBWnefQAAAABJRU5ErkJggg==);
}
.digit-4 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAANCAYAAAB7AEQGAAAAS0lEQVQoU2Nk+MHwn4GDgUFCUZPhxf3rGDTDDwYGRpgiBlwAWdFgMklCUfP/i+vXcbobJMHIwMDwH68KkO/AJmEJH5hvIeE0+EwCAP/lYJldypR3AAAAAElFTkSuQmCC);
}
.digit-5 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAANCAYAAAB7AEQGAAAATUlEQVQoU2OUUNT8/+L6dQZcQEJTk4GR4QfDfwYOnGrAEnBFEoqaDC/uX2fARtPbJOJ8x8DwH6/ffjAwMIJNwuErkDgDSBHDAJhEIO4A+GlLw9FRCeQAAAAASUVORK5CYII=);
}
.digit-6 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAANCAYAAAB7AEQGAAAARUlEQVQoU2OUUNT8/+L6dQZcQEJTk4GR4QfDfwYOnGrAEnBFEoqaDC/uX2fARg+ISXjcTZzvfhDhOwZkRThtpK5JxMQdAILzSMN7pNP0AAAAAElFTkSuQmCC);
}
.digit-7 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAANCAYAAAB7AEQGAAAANElEQVQoU2Nk+MHwnwEPkNDUZGBkYMCviOEHAwOjhKLm/xf3rzNIKGoyYKPBikZNonM4AQBoQGIDuih6MgAAAABJRU5ErkJggg==);
}
.digit-8 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAANCAYAAAB7AEQGAAAAOklEQVQoU2OUUNT8/+L6dQZcQEJTk4GR4QfDfwYOnGoYGH4wIBRJKGoyvLh/nQGdRlGE0yzqmjTqOwDVZk7XOqdJbQAAAABJRU5ErkJggg==);
}
.digit-9 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAANCAYAAAB7AEQGAAAAVUlEQVQoU2OUUNT8/+L6dQZcQEJTk4GR4QfDfwYOnGoYGH4wIBRJKGoyvLh/nQGdRlGE0yzqmkTIdyBnMDIwMPzH4zeI78AmYfEVzJcQ3w2ASQTiDgD1/U9ttsubdwAAAABJRU5ErkJggg==);
}
