@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./playlist.css";
@import "./player.css";
@layer base {
}
body {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    @apply bg-[#e5e5e5] font-sans;
}
#__next {
    height: 100vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: transparent;
}
#position {
    position: absolute;
    left: 16px;
    top: 72px;
    width: 248px;
    height: 10px;
}

#position::-webkit-slider-thumb {
    height: 10px;
    width: 29px;
    /*
       * Fix the strange bug in Safair/mobile-chrome
       * http://stackoverflow.com/questions/26727769/rendering-glitch-when-manipulating-range-input-value-via-javascript-in-webkit
       */
    position: relative;
}

#position::-moz-range-thumb {
    height: 10px;
    width: 29px;
}
